<head>
    <title>Cho ADC</title>
    <link rel="icon" type="image/png" href="../../imagens/gif.png">
</head>
<body>
    <link rel="stylesheet" href="./style.css">
    <div class="back-to-top">
        <a href="../../index.html" class="back-button">Voltar</a>
    </div>    
    <div class="container">
        <div class="iframe-wrapper">
            <iframe
                loading="lazy"
                src="https://www.canva.com/design/DAGaCZWqmV4/AmzHykN3Inv_fQwclLME-w/view?embed"
                allowfullscreen="allowfullscreen"
                allow="fullscreen"
            ></iframe>
        </div>
    </div>
</body>
