<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Sobre</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'><link rel="stylesheet" href="./style.css">
<link rel="icon" type="image/png" href="../../imagens/gif.png">
</head>
<body>
<!-- partial:index.partial.html -->
<body>

  <!-- START NAVBAR -->
  <div id="wrapper1" class="container-fluid">

    <!-- END NAVBAR -->

    <!-- START HEADER -->

    <div id="header" class="container-fluid">
      <div id="welcome">
        <h1>RAAZGRIZ</h1>
        <h4 style="padding-bottom: 50px">Sobre min.</h4>
        <a href="#aboutme" class="btn btn-circle">
          <i class="fa fa-angle-double-down"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- END WRAPPER -->

  <!-- START ABOUT ME -->

  <div id="aboutme" class="container-fluid">
    <div class="row" style="padding-top: 50px">
      <div class="col-md-8">
        <h4>ABOUT ME</h4><br>
        <p>Olá! Meu nome é Leonardo, mas muitos me conhecem pelo meu nick no League of Legends: Raazgriz. Tenho 21 anos, sou de Curitiba, no sul do Brasil, e sou apaixonado por desafiar os limites tanto no jogo quanto na vida. Desde o lançamento do LoL, adotei um campeão como meu eterno companheiro de batalha: Cho'Gath.</p><br>

        <p>Minha jornada no jogo reflete minha paixão e dedicação ao improvável, transformando um colosso em ícone. Não importa a posição, sempre acreditei que o potencial do Cho'Gath vai muito além do que as pessoas imaginam. Foi com ele que alcancei feitos que marcaram minha história como jogador:
        </p><br>

        <p>Mestre jogando Cho'Gath no top.
          Grão-Mestre dominando o mid com meu colosso.
          E o feito mais audacioso de todos: chegar ao Desafiante exclusivamente como Cho'Gath ADC — o primeiro e único até agora no nosso servidor.
          Sim, eu acredito no impossível e faço disso meu estilo. Transformar o que parece inviável em realidade é o que me motiva a continuar evoluindo e inspirando outras pessoas. Para mim, League of Legends é mais do que um jogo; é um campo onde posso provar que dedicação, criatividade e coragem podem quebrar qualquer barreira.
           </p>
      </div>
      <div class="col-md-4 text-center">
        <img src="../../imagens/tes.gif" class="img-round"></img>
      </div>
      <div class="col-md-8">
        <p>Meu sonho vai além das filas ranqueadas. Quero levar toda essa paixão para o cenário competitivo, e estou dando meus primeiros passos com um time de monos que, sem dúvida, é o mais único e diferenciado que você vai encontrar. Nosso objetivo? Participar e vencer o lendário Cebolão.
        </p><br>

        <p>Na minha live, compartilho cada passo dessa jornada. É um espaço onde você pode acompanhar momentos épicos, estratégias inesperadas e, claro, muitas risadas — tudo enquanto mostro que Cho'Gath pode dominar qualquer lane.
        </p><br>

        <p>Seja bem-vindo ao meu mundo! Obrigado por dedicar um pouco do seu tempo para conhecer minha história. Espero te ver na live para acompanhar tudo isso de perto.
           </p>
      </div>
      <div class="col-md-4 text-center">
        <img src="../../imagens/pix.jpg" class="img-round"></img>
      </div>
    </div>
  </div>


  <!-- END ABOUT ME -->

  <!-- START PORTFOLIO -->

  <!-- END PORTFOLIO -->

  <!-- START FOOTER -->
  <div id="footer" class="container-fluid">
    <a class="back-button" href="../../index.html">Voltar</a>
  </div>

  <!-- END FOOTER -->
</body>
<!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script><script  src="./script.js"></script>
    
</body>
</html>
