<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Feitos</title>
  <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap"
      rel="stylesheet"
    />
<meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="./style.css">
<link rel="icon" type="image/png" href="../../imagens/gif.png">
</head>
<body>
    <div class="header">
        <button class="back-button" onclick="goBack()">Voltar</button>
        <div class="text">Feitos</div>
    </div>    
    <section class="sec02">Peguei mestre pela primeira vez jogando de cho'gath top
        <a><img src="../../imagens/clip_1.jpg" class="imgcenter"></a>
    </section>  
    <section class="sec02">Peguei grão mestre jogando de cho'gath mid
        <a><img src="../../imagens/clip_2.jpg" class="imgcenter"></a>
    </section>
    <section class="sec02">Peguei challenger jogando penas de CHO ADC
      <a><img src="../../imagens/clip_3.jpg" class="imgcenter"></a>
      <a><img src="../../imagens/challenger.jpeg" class="imgcenter"></a>
    </section>

    <section style="text-align: center;">
      <h1>Também já conquistei o Top 1 Cho Mundial</h1>
    </section>
    <section style="text-align: center;">
      <!-- Primeira imagem -->
        <img src="../clips/imagens/top1_cho2.jpg" alt="Imagem de conquista Top 1 Cho 2" 
             style="width: 800px; height: 400px; margin: 10px; border: 1px solid #ccc; box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);">
    </section>
    <section style="text-align: center;">
        <img src="../clips/imagens/top1_cho.jpg" alt="Imagem de conquista Top 1 Cho" 
             style="width: 800px; height: 400px; margin: 10px; border: 1px solid #ccc; box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);">
    </section>     
       
<!-- partial:index.partial.html -->
<main>
  <h1 style="text-align: center;">Alguns Clipes</h1>
  <div class="container">
    <a class="card" href="#">
      <h2>Grevthar</h2>
      <iframe src="https://clips.twitch.tv/embed?clip=SucculentStormyStarDansGame-q1I5J04LHDFVaQ8J&parent=www.raazgriz.site" 
      frameborder="0" 
      allowfullscreen="true" 
      scrolling="no" 
      height="378" 
      width="620">
    </iframe>

    </a>
    <a class="card" href="#">
        <h2>Grevthar</h2>
        <iframe src="https://clips.twitch.tv/embed?clip=FancyMagnificentSashimiAMPEnergyCherry-syOldC3fQOplJl-m&parent=www.raazgriz.site" 
        frameborder="0" 
        allowfullscreen="true" 
        scrolling="no" 
        height="378" 
        width="620">
      </iframe>
  
      </a>
      <a class="card" href="#">
        <h2>Grevthar</h2>
        <iframe src="https://clips.twitch.tv/embed?clip=MagnificentScrumptiousGerbilEagleEye-KKy9AUOv6mdu9VRI&parent=www.raazgriz.site" 
        frameborder="0" 
        allowfullscreen="true" 
        scrolling="no" 
        height="378" 
        width="620">
      </iframe>
  
      </a>
  </div><br>
  <div class="container">
    <a class="card" href="#">
      <h2>griff</h2>
      <iframe src="https://clips.twitch.tv/embed?clip=OnerousPricklyCocoaPicoMause-6gfRLsgqkpIY9QXP&parent=www.raazgriz.site" 
      frameborder="0" 
      allowfullscreen="true" 
      scrolling="no" 
      height="378" 
      width="620">
    </iframe>

    </a>
    <a class="card" href="#">
        <h2>griff</h2>
        <iframe src="https://clips.twitch.tv/embed?clip=AbstemiousFriendlyPeppermintDancingBanana-i3lNWUYpbAjzbzBh&parent=www.raazgriz.site" 
        frameborder="0" 
        allowfullscreen="true" 
        scrolling="no" 
        height="378" 
        width="620">
      </iframe>
  
      </a>
      <a class="card" href="#">
        <h2>griff</h2>
        <iframe src="https://clips.twitch.tv/embed?clip=YawningAssiduousWrenchThunBeast-41dpHDinyTRa7JdC&parent=www.raazgriz.site" 
        frameborder="0" 
        allowfullscreen="true" 
        scrolling="no" 
        height="378" 
        width="620">
      </iframe>
  
      </a>
  </div><br>
  <div class="container">
    <a class="card" href="#">
      <h2>Pijack</h2>
      <iframe src="https://clips.twitch.tv/embed?clip=BlazingGloriousWalrusRuleFive-V04H7Crgzg5ZS4zV&parent=www.raazgriz.site" 
      frameborder="0" 
      allowfullscreen="true" 
      scrolling="no" 
      height="378" 
      width="620">
    </iframe>

    </a>
    <a class="card" href="#">
        <h2>Pijack</h2>
        <iframe src="https://clips.twitch.tv/embed?clip=VibrantTardyCormorantJebaited-pQfmAzGbiQSmIVxy&parent=www.raazgriz.site" 
        frameborder="0" 
        allowfullscreen="true" 
        scrolling="no" 
        height="378" 
        width="620">
      </iframe>
  
      </a>
      <a class="card" href="#">
        <h2>Pijack</h2>
        <iframe src="https://clips.twitch.tv/embed?clip=BreakableStylishEelLitty-fXTOiXUv8wI2iLVZ&parent=www.raazgriz.site" 
        frameborder="0" 
        allowfullscreen="true" 
        scrolling="no" 
        height="378" 
        width="620">
      </iframe>
  
      </a>
  </div><br>
  <div class="container">
    <a class="card" href="#">
      <h2>Kennzy</h2>
      <iframe src="https://clips.twitch.tv/embed?clip=JazzyHappyDurianSquadGoals-WUcL9tHg-rtLtCnP&parent=www.raazgriz.site" 
      frameborder="0" 
      allowfullscreen="true" 
      scrolling="no" 
      height="378" 
      width="620">
    </iframe>

    </a>
    <a class="card" href="#">
        <h2>Kennzy</h2>
        <iframe src="https://clips.twitch.tv/embed?clip=RudeReliablePidgeonShadyLulu-VCXNaQsmKFOFp3V6&parent=www.raazgriz.site" 
        frameborder="0" 
        allowfullscreen="true" 
        scrolling="no" 
        height="378" 
        width="620">
      </iframe>
  
      </a>
      <a class="card" href="#">
        <h2>Kennzy</h2>
        <iframe src="https://clips.twitch.tv/embed?clip=MushyPrettyCurlewTheRinger-Dz-eDWYorXJkhmcI&parent=www.raazgriz.site" 
        frameborder="0" 
        allowfullscreen="true" 
        scrolling="no" 
        height="378" 
        width="620">
      </iframe>
  
      </a>
  </div><br>
  <div class="container">
    <a class="card" href="#">
      <h2>Sleezy</h2>
      <iframe src="https://clips.twitch.tv/embed?clip=TenderIcyPepperoniJebaited-wPbkry9Sc_bDDHFg&parent=www.raazgriz.site" 
      frameborder="0" 
      allowfullscreen="true" 
      scrolling="no" 
      height="378" 
      width="620">
    </iframe>

    </a>
    <a class="card" href="#">
        <h2>Duelista</h2>
        <iframe src="https://clips.twitch.tv/embed?clip=StrongVivaciousRingImGlitch-bNJQwmu7CwLHQ7nE&parent=www.raazgriz.site" 
        frameborder="0" 
        allowfullscreen="true" 
        scrolling="no" 
        height="378" 
        width="620">
      </iframe>
  
      </a>
      <a class="card" href="#">
        <h2>Duelista</h2>
        <iframe src="https://clips.twitch.tv/embed?clip=RespectfulFurrySalmonRuleFive-sHPJWohu3avfuFdF&parent=www.raazgriz.site" 
        frameborder="0" 
        allowfullscreen="true" 
        scrolling="no" 
        height="378" 
        width="620">
      </iframe>
  
      </a>
  </div><br>
  <div class="container">
    <a class="card" href="#">
      <h2>Esnoob</h2>
      <iframe src="https://clips.twitch.tv/embed?clip=IcyOnerousPidgeonTTours-XgU9XP1qtt_0fnpf&parent=www.raazgriz.site" 
      frameborder="0" 
      allowfullscreen="true" 
      scrolling="no" 
      height="378" 
      width="620">
    </iframe>

    </a>
    <a class="card" href="#">
        <h2>Esnoob</h2>
        <iframe src="https://clips.twitch.tv/embed?clip=GiantCovertMelonTriHard-FyOKN-M8RoOVTh3j&parent=www.raazgriz.site" 
        frameborder="0" 
        allowfullscreen="true" 
        scrolling="no" 
        height="378" 
        width="620">
      </iframe>
  
      </a>
      <a class="card" href="#">
        <h2>Minerva</h2>
        <iframe src="https://clips.twitch.tv/embed?clip=SweetRefinedSnakeCopyThis-CG08aXtOF9tXa5Pi&parent=www.raazgriz.site" 
        frameborder="0" 
        allowfullscreen="true" 
        scrolling="no" 
        height="378" 
        width="620">
      </iframe>
  
      </a>
  </div><br>
  <div class="container">
    <a class="card" href="#">
      <h2>Minerva</h2>
      <iframe src="https://clips.twitch.tv/embed?clip=WimpySpoopyFiddleheadsRuleFive-lTHA5vuqr97Su_BD&parent=www.raazgriz.site" 
      frameborder="0" 
      allowfullscreen="true" 
      scrolling="no" 
      height="378" 
      width="620">
    </iframe>

    </a>
    <a class="card" href="#">
        <h2>Revolta</h2>
        <iframe src="https://clips.twitch.tv/embed?clip=VictoriousHedonisticDinosaurTBTacoRight-Q-a03X4Bed7l2fHG&parent=www.raazgriz.site" 
        frameborder="0" 
        allowfullscreen="true" 
        scrolling="no" 
        height="378" 
        width="620">
      </iframe>
  
      </a>
      <a class="card" href="#">
        <h2>Tutuco</h2>
        <iframe src="https://clips.twitch.tv/embed?clip=InterestingImpossibleSandpiperPastaThat-3PDU0Hl89l48E9ao&parent=www.raazgriz.site" 
        frameborder="0" 
        allowfullscreen="true" 
        scrolling="no" 
        height="378" 
        width="620">
      </iframe>
  
      </a>
  </div>
</main>
<!-- partial -->
  <script>function goBack() {
    window.history.back(); // Volta para a página anterior
}
</script>
</body>
</html>
